.App {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
  padding:0;
}

h1,p {
  color: white;

}
h1{
  margin-top: 100px;
  font-size: 40px;
  font-weight: 500;

}
p {
  font-size: 23px;
  font-weight: 300;


}

.top {
  background-color: #00162A;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;

}


.intro {
  max-width:  400px;
  text-align: justify;
  text-align-last: center;
}

.menu {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu button {
  margin: 10px;
  width: 250px;
  height:70px;
  border: none;
  border-radius: 8px;
  background-color: #00162A;
  color: white;
  font-size: 23px;
  font-weight: 300;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
}


.menu button:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}


.menu button:focus, input:focus {
  outline: none;
}

.menu input {
  width: 240px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #00162A;
  font-size: 23px;
  margin: 40px;
}
h2 {
  color: red;
  font-size: 36px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }


}

@media only screen and (max-width: 400px) {
  .intro {
    width: 200px
  }

  h1 {
    font-size: 17px;
  }

  
}